# Dependency directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
build/
dist/
dist-ssr

# Environment files
.env
.env.*

# Editor config and workspace settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.iml

# System and cache files
.DS_Store
*.sw?
*.local

# Test and coverage outputs
coverage/
*.tgz

# Optional: include if using TypeScript
*.tsbuildinfo

# Optional: exclude these if needed
my-app*
template/src/__tests__/__snapshots__/
