.jumbotron{
    background-color: transparent;
    margin-top: 70px;
}

.jumbotron, p, h2 {
    color: var(--akzentfarbe2) !important;
    font-size: 40px;
}

.btn-primary{
    background-image: none;
    border: none;
    border-radius: .25rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    font-family: var(--hausschrift), serif;
    text-shadow: none;
}

.btn-primary:hover{
    background-color: white;
}

.btn-primary:focus{
    background-color: var(--hintergrundfarbe) !important;
}

#titelbild {
    max-width: 90%;
}

