name: Checks Before Merging

on:
    push:
    # pull_request:
    #     branches:
    #         - development

jobs:
    check_build:
        name: Check Project Build
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install dependencies
              run: |
                rm -rf node_modules package-lock.json
                npm install

            - name: Build project
              run: |
                START_TIME=$(date +%s)
                npm run build
                END_TIME=$(date +%s)
                BUILD_TIME=$((END_TIME - START_TIME))
                echo "Build completed in ${BUILD_TIME} seconds"
                echo "${BUILD_TIME}" > build-time.txt

            - name: Upload build artifacts
              uses: actions/upload-artifact@v4
              with:
                name: build-artifacts
                path: |
                    dist/
                    build-time.txt

    unit_tests:
        name: Check Unit Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install dependencies
              run: |
                rm -rf node_modules package-lock.json
                npm install

            - name: Run unit tests
              run: npm run test

    check_style:
        name: Check Code Style
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24

            - name: Install dependencies
              run: |
                rm -rf node_modules package-lock.json
                npm install

            - name: Run linter
              run: npm run lint
