name: Set New Version for package.json

on:
  push:
    branches:
      - release/*
    paths:
      - 'VERSION.md'

permissions:
  contents: write

jobs:
    set_new_version:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Read new version from VERSION.md
              id: read_version
              run: |
                NEW_VERSION=$(cat VERSION.md | tr -d ' \n')
                echo "new_version=$NEW_VERSION" >> $GITHUB_OUTPUT

            - name: Bump version in package.json and create tag
              run: |
                git config user.name "cookiecaster+actions"it config user.name "cookiecaster+actions"
                git config user.email "cookiecaster+actions@github.com"
                npm version ${{ steps.read_version.outputs.new_version }} -m "chore(release): v${{ steps.read_version.outputs.new_version }} [skip ci]"

            - name: Push changes
              run: |
                git config user.name "cookiecaster+actions"
                git config user.email "cookiecaster+actions@github.com"
                git push
    